@keyframes fadeIn {
    from {
        transform: scale(0.98);
        opacity: 0;
    }
}

@keyframes fadeOut {
    to {
        transform: scale(0.97);
        opacity: 0;
    }
}

.fadeIn {
    animation: 300ms ease fadeIn 1;
}

.fadeOut {
    animation: 300ms ease fadeOut 1;
    animation-delay: 300ms;
}
