.frontal {
	transition: 300ms ease;

	&--blanco,
	&--blanco-hover:hover {
		color: white;
	}

	&--base,
	&--base-hover:hover {
		color: $color-base;
	}

	&--secundario,
	&--secundario-hover:hover {
		color: $color-secundario;
	}

	&--secundario-2,
	&--secundario-hover-2 {
		color: darken($color-secundario-2, 20);
	}

	&--secundario-3,
	&--secundario-hover-3 {
		color: $color-secundario-3;
	}

	&--secundario-4,
	&--secundario-hover-4 {
		color: $color-secundario-4;
	}

	&--whatsapp,
	&--whatsapp-hover:hover {
		color: $color-whatsapp;
	}

	&--facebook,
	&--facebook-hover:hover {
		color: $color-facebook;
	}

	&--twitter,
	&--twitter-hover:hover {
		color: $color-twitter;
	}

	&--youtube,
	&--youtube-hover:hover {
		color: $color-youtube;
	}

	&--pinterest,
	&--pinterest-hover:hover {
		color: $color-pinterest;
	}

	&--linkedin,
	&--linkedin-hover:hover {
		color: $color-linkedin
	}

	&--skype,
	&--skype-hover:hover {
		color: $color-skype;
	}

	@include infografia-color;
}

.fondo {
	transition: 300ms ease;

	// Aplicados únicamente a elementos SVG:
	&--svg {
		fill: var(--background-color);
	}

	// Aplicados a elementos HTML:
	&--html {
		background-color: var(--background-color);
	}

	&--base,
	&--base-hover:hover {
		--background-color: #{$color-base};
	}

	&--secundario,
	&--secundario-hover:hover {
		--background-color: #{$color-secundario};
	}

	&--secundario-2,
	&--secundario-hover-2 {
		--background-color: #{$color-secundario-2};
	}

	&--secundario-3,
	&--secundario-hover-3 {
		--background-color: #{$color-secundario-3};
	}

	&--secundario-4,
	&--secundario-hover-4 {
		--background-color: #{$color-secundario-4};
	}
	
	&--whatsapp,
	&--whatsapp-hover:hover {
		--background-color: #{$color-whatsapp};
	}

	&--facebook,
	&--facebook-hover:hover {
		--background-color: #{$color-facebook};
	}

	&--twitter,
	&--twitter-hover:hover {
		--background-color: #{$color-twitter};
	}

	&--youtube,
	&--youtube-hover:hover {
		--background-color: #{$color-youtube};
	}

	&--pinterest,
	&--pinterest-hover:hover {
		--background-color: #{$color-pinterest};
	}

	&--linkedin,
	&--linkedin-hover:hover {
		--background-color: #{$color-linkedin};
	}

	&--skype,
	&--skype-hover:hover {
		--background-color: #{$color-skype};
	}

	// Propiedades CSS aplicados únicamente
	// a elementos SVG:

}


// Viñetas de colores:
.listas {
	--separacion: 15px;
	--separacion-vertical: 5px;
	--size: 6px;
	--color: #{$color-base};
	--simbolo: ". ";
	--tipo: decimal;
	--positionY: calc(var(--font-size) * 0.05);
	--negrita: normal;
	--font-size: 0.95em;

	list-style-type: none;
	padding-left: var(--separacion);

	counter-reset: lista 0;

	li {
		counter-increment: lista 1;
		position: relative;
		padding-left: calc(var(--size) + var(--separacion));

		&:first-of-type {
			margin-top: var(--separacion-vertical);
		}

		&:not(:last-of-type) {
			margin-bottom: var(--separacion-vertical);
		}

		&::before {
			content: counter(lista, var(--tipo)) var(--simbolo);
			display: block;
			position: absolute;
			margin: auto;
			left: 0; right: auto;
			top: var(--positionY); bottom: 0;
			font-size: var(--font-size);
			color: var(--color);
			padding: 0;

			font-weight: var(--negrita);
		}
	}

	&--bold {
		--negrita: bold;
	}

	&--base {
		--color: #{$color-base};
	}

	&--secundario {
		--color: #{$color-secundario};
	}

	&--secundario-2 {
		--color: #{darken($color-secundario-2, 20)};
	}

	&--secundario-3 {
		--color: #{$color-secundario-3};
	}

	&--secundario-4 {
		--color: #{$color-secundario-4};
	}

	// Tipo de viñetas personalizadas:
	&--circulo {
		--tipo: circle;
		--font-size: 2em;
		--simbolo: "";
		--positionY: calc(var(--font-size) * (-0.2));
	}

	&--disco {
		--tipo: disc;
		--font-size: 2.2em;
		--simbolo: "";
		--positionY: calc(var(--font-size) * (-0.2));
	}

	&--cuadrado {
		--tipo: square;
		--font-size: 0.90em;
		--simbolo: "";
		--positionY: calc(var(--font-size) * (-0.03));
	}

	&--decimal {
		--tipo: decimal;
	}

	&--romano {
		--tipo: lower-roman;

		&-mayuscula {
			--tipo: upper-roman;
		}
	}

	&--alfabetico {
		--tipo: lower-alpha;

		&-mayuscula {
			--tipo: upper-alpha;
		}
	}

	&--armenio {
		--tipo: lower-armenian;

		&-mayuscula {
			--tipo: upper-armenian;
		}
	}

	&--none {
		--tipo: none;
		--simbolo: "";
		--list-style: none;
		padding-left: 0;
	}

	&__item {
		--separacion-vertical: 0;

		display: flex;
		flex-wrap: wrap;
		min-height: 30px;
		border-bottom: 1px solid white;
		transition: 300ms ease;
		padding: 2px 10px;

		&:nth-of-type(2n + 1) {
			background-color: rgba($color-secundario-3, 0.03);
			border-bottom: 1px solid white;
		}

		&:not(:last-of-type) {
			border-bottom: 1px solid white;
		}

		&:hover {
			background-color: rgba($color-secundario-3, 0.05);
			transition: none;
		}
	}

	&__enlace {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;

		color: darken($color-secundario-4, 25);
		transition: 300ms ease;

		&:hover {
			color: darken($color-secundario-4, 40);
		}
	}
}

// Selecciones:
::selection {
	background-color: rgba($color-secundario-4, 1);
	color: white;
}

// Textos destacados:
.destacado {
	position: relative;
	background-color: var(--fondo);
	color: var(--primer-plano);
	min-height: 100px;
	width: 100%;
	max-width: 600px;
	padding: 18px 20px;
	margin: 20px auto;
	
	font: {
		size: 1.2rem;
		style: oblique;
		weight: 600;
	}

	line-height: 1.4;
	text-align: center;

	h1, h2, h3, h4, h5, p {
		margin: 0;
	}

	&--secundario {
		--fondo: #{$color-secundario};
		--primer-plano: white;
	}

	&--secundario-2 {
		--fondo: #{$color-secundario-2};
		--primer-plano: white;
	}

	&--secundario-3 {
		--fondo: #{$color-secundario-3};
		--primer-plano: white;
	}

	&--secundario-4 {
		--fondo: #{$color-secundario-4};
		--primer-plano: white;
	}

	&--morado {
		--fondo: #bb5996;
		--primer-plano: white;
	}

	&__imagen {
		--diametro: 100px;
		--separacion: 0;

		display: block;
		position: absolute;
		margin: auto;
		left: auto; top: auto;
		bottom: var(--separacion);
		right: var(--separacion);
		opacity: 1;
		width: var(--diametro);
		height: var(--diametro);
		max-height: 80%;

		z-index: 0;

		svg {
			width: var(--diametro);
			height: var(--diametro);
			opacity: 0.25;
			fill: white;
		}
	}
}