// Fuentes tipográficas importadas de Google:
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// VALORES PREDETERMINADO:
// Colores:
$color-base: #0080d4 !default;

// Proporciones:
$width: calc(100% - 20px) !default;
$min-width: 100% !default;
$max-width: 1200px !default;

$min-height: 100vh !default;

::-moz-focus-inner {
  border: 0;
}

:root {
  --font-size: 1rem;

  font: {
    family: 'Roboto', sans-serif;
    size: var(--font-size);
  }

  --line-height: 1.6;
}

img {
  max-width: 100%;
}

html, body {
  margin: 0;
  padding: 0;

  color: #606060;
  background-color: darken(white, 4);
}

body {
  height: 100vh;
}

// Enlaces
a {
  text-decoration: none;
  color: $color-secundario-4;

  &:not([class]) {
    &:hover {
      text-decoration: underline;
    }
  }
}

* {
  $box-sizing: border-box;

  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  box-sizing: $box-sizing;

  &::before, &::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
}

.width {
  width: $width;
}
.max {
  &--width {
    width: $max-width;
  }
}

.min {
  &--height {
    min-height: $min-height;
  }
}

// Linea horizontal
hr {
  margin: 20px auto 30px;
  border: 0;
  border-bottom: 1px solid lighten($color-base, 30);
}

// pre y code
pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: lighten($color-base, 56);
  color: $color-base;

  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  overflow: auto;
  font-variant: normal;
}

// Viewport
.viewport {
  &--width {
    min-width: $min-width;
  }
  
  &--height {
    min-height: $min-height;
  }
}

// Texto
.text, .texto {
  text-align: var(--align);

  &--small {
    font-size: 0.8em;
  }

  &--big {
    font-size: 1.2em;
  }

  &--variant {
    font-variant: small-caps;
  }

  &--justify {
    --align: justify;
  }

  &--left {
    --align: left;
  }

  &--center {
    --align: center;
  }

  &--right {
    --align: right;
  }

  &--margin-none {
    margin: 0;
  }
  
  &--destacado-1 {
    background-color: $color-secundario-3;
    color: white;
    line-height: 1.3;
    padding: 10px;
    text-align: center;
  
    font: {
      size: 1.5rem;
      weight: bold;
    }

    line-height: 1.1;
    margin-top: 40px;
  }
}

.title {
  text-align: var(--align);
  line-height: 1.5;
  max-width: 600px;

  &:not([class*="title--justify"]):not([class*="title--center"]):not([class*="title--right"]) {
    --align: left;
  }

  &--justify {
    --align: justify;
  }

  &--center {
    --align: center;
  }

  &--right {
    --align: right;
  }
}

// Predeterminado
.default, .predeterminado {
  width: calc(#{$width} - 10px);
  max-width: $max-width;
  
  &:not(hr) {
    margin: 0 auto;
  }
}

.line {
  &--default, &--predeterminado {
    margin: 20px auto;
    border-left: 0; border-right: 0;
    border-top: 0;
    border-bottom: 1px solid;
    height: 0;
  }
}

.copyright {
  min-height: 60px;
  display: flex;
  align-items: center;
}

// Desarrollador
.developer {
  position: relative;
  min-height: 30px;

  &--link {
    text-decoration: none;
    color: lighten(#0080d4, 40);
    outline: medium none;

    &:hover {
      text-decoration: underline;
    }
  }
}

svg {
  max-height: 100%;
  transition: 300ms ease;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

h3, h4, h5, h6 {
  margin-top: 40px;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 40px;
}

$size: 2.2;
@for $indice from 1 through 6 {
  h#{$indice} {
    font-size: $size + rem;
  }

  $size: $size - 0.3;
}

.margin {
  --margin: 14px;

  &--bottom {
    margin-bottom: var(--margin);
  }

  &--top {
    margin-top: var(--margin);
  }

  &--left {
    margin-left: var(--margin);
  }

  &--right {
    margin-right: var(--margin);
  }

  &--all {
    margin: var(--margin);
  }
}

.padding {
  --padding: 10px;

  &--left {
    padding-left: var(--padding);
  }

  &--right {
    padding-right: var(--padding);
  }

  &--top {
    padding-top: var(--padding);
  }

  &--bottom {
    padding-bottom: var(--padding);
  }

  &--all {
    padding: var(--padding);
  }
}