[type="search"],
[type="text"],
[type="tel"],
[type="password"] {
  outline: medium none;
}

// Contenedor del buscador:
.buscador {
  display: flex;
  justify-content: flex-end;
}

// Etiqueta:
.label {
  display: var(--display);
  position: relative;
  height: var(--height);

  &--buscar {
    --display: block;
    --height: 30px;
    --width: 150px;
  }
}

.input {
  display: var(--display);
  position: var(--position);

  &--buscar {
    --position: relative;

    // Propiedades estándar:
    margin: auto;

    border: 2px solid $color-secundario;
    width: var(--width);
    height: 100%;
    border-radius: calc(var(--height) / 2);

    padding-left: calc(var(--height) / 2);
    padding-right: calc(var(--height) / 1.1);
    transition: 300ms ease;
    color: darken($color-secundario, 20);

    &:focus {
      width: 180px;
    }
  }
}

.button {
  background-image: none;
  background-color: var(--background-color);
  outline: medium none;
  border: 0;
  transition: 300ms ease;
  color: inherit;
  border-radius: var(--radio);

  &:disabled {
    opacity: 0.5;
  }

  &--buscar {
    display: (--display);
    position: absolute;
    height: var(--height);
    width: var(--height);

    --radio: calc(var(--height) / 2);
    left: auto;
    right: 5px;
    top: 0;
    bottom: 0;

    svg {
      height: calc(var(--height) / 1.7);
    }
  }

  &--success {
    --background-color: #{darken($color-secundario-3, 20)};
    --radio: 4px;

    color: white;
    padding: 0 20px;

    &:hover,
    &:focus {
      --background-color: #{darken($color-secundario-3, 15)};
    }

    &:active {
      transition: none;
      opacity: 0.9;
    }
  }

  &--encuesta {
    --height: 40px;

    padding: 0 20px;
    border-radius: calc(var(--height) / 2);
    height: var(--height);

    font: {
      size: 0.9rem;
      family: inherit;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  &--encuestas {
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: left;
    background-color: $color-morado;
    color: white;
    border-radius: 10px;

    box-shadow: 0 0 8px 2px rgba(darken($color-morado, 15), 0.5);
    border: 1px solid rgba(white, 0.5);

    &:hover,
    &:focus {
      background-color: darken($color-secundario-3, 10);
      box-shadow: 0 0 8px 2px rgba(darken($color-secundario-3, 15), 0.5);
    }

    &:active {
      transition: none;
      background-color: darken($color-secundario-4, 10);
    }
  }

  &--encuestas,
  &--enlace {
    --padding: 10px;
    --size: 50px;

    // Relleno del botón:
    padding-left: 7px;
    padding-right: 10px;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    color: white;
    transition: 300ms ease;

    font: {
      family: inherit;
      size: 1.1rem;
      weight: bold;
    }

    svg {
      width: var(--size);
      height: var(--size);
      margin-right: 8px;
    }

    path {
      fill: white;
    }
  }

  &--enlace {
    display: flex;
    align-items: center;
    margin: 20px auto;
    text-decoration: none;

    background-color: $color-secundario-3;
    border-radius: 10px;
    max-width: 200px;

    &:hover {
      background-color: lighten($color-secundario-3, 5);
    }

    &:active {
      background-color: $color-secundario-3;
      transition: none;
    }

    &:focus {
      background-color: darken($color-secundario-3, 5);
    }
  }
}

.encuestas-button {
  margin-top: 40px;
  color: white;
}

// Grupo de botones:
.group-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;

  gap: 20px;

  padding: 10px;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}

// Mensajes:
.mensaje {
  transition: 300ms ease;
  padding: 2px 10px;
  &--success {
    color: $color-secundario-4;
    background-color: rgba($color-secundario-4, 0.05);
    animation: 300ms ease fadeIn 1;
  }

  &--error {
    color: red;
    background-color: rgba(red, 0.05);
  }
}
