.header {
  position: fixed;
  margin: auto;
  left: 0; right: 0;
  top: 0; bottom: auto;
  background-color: var(--fondo);

  z-index: 100;

  font: {
    size: 0.9rem;
  }

  &--fondo {
    --fondo: white;
  }
}

// Contenido
.content {
  --separacion: 110px;
  line-height: 1.6;

  margin: 0 auto;
  margin-top: var(--separacion);

  &--inner {
    --separacion: 80px;
  }

  &--infografia {
    --separacion: 0;

    width: 100%;
    background-color: rgba( $color-secundario-4, 0.5 );

    --padding: 40px;
    padding-left: var(--padding);
    padding-right: var(--padding);

    padding-top: var(--padding);
    padding-bottom: var(--padding);
  }

  &--adicionales {
    --separacion: 0;
    --padding: 40px;

    padding: var(--padding);
    background-color: darken(white, 10);
    width: 100%;

    &:first-of-type {
      border-top: 1px solid rgba(black, 0.2);
    }
  }
}

// .border {
//   @include border-bottom( 5, 5 );
// }

.border {
  // Establecer los valores del border predeterminado:
  --border-width: 1px;
  --border-color: #{rgba($color-secundario, 0.75)};

  // Ancho de borde predeterminado:
  &:not([class*="border--"]) {
    --border-left: var(--border-width);
    --border-right: var(--border-width);
    --border-top: var(--border-width);
    --border-bottom: var(--border-width);
  }

  border-left: var(--border-left) solid var(--border-color);
  border-right: var(--border-right) solid var(--border-color);
  border-top: var(--border-top) solid var(--border-color);
  border-bottom: var(--border-bottom) solid var(--border-color);

  &--home {
    --border-top: 25px;
    --border-bottom: 5px;
  }
}

// Logotipo
.logotipo {
  width: 100%;
  max-width: var(--width);
  transition: 300ms ease;

  &--header {
    --width: 300px;
  }

  &--scroll {
    --width: 250px;
  }

  &--presentacion {
    --width: 80%;
    margin-bottom: 60px;
  }
}

// Cajas flexibles:
.flex {
  display: flex;
  justify-content: var(--justify-content);
  align-items: center;

  // Separación de contenido con una longitud
  // de 20px de ancho:
  --gap: 20px;

  &--wrap {
    flex-wrap: wrap;
  }

  &__item {
    &:not(:first-of-type):not(.not-padding) {
      padding-left: calc(var(--gap) / 2);
    }

    &:not(:last-of-type):not(.not-padding) {
      padding-right: calc(var(--gap) / 2);
    }

    &--svg {
      svg {
        width: 70px;
      }
    }

    &--50 {
      width: 50%;
      flex-shrink: 0;
    }

    &--2-5 {
      width: 40%;
      flex-grow: 1;
      flex-shrink: 0;
      min-width: 100px;
    }

    &--5 {
      flex-grow: 1;
      flex-shrink: 0;
      width: 20%;
      min-width: 100px;
    }    
  }

  &--between {
    --justify-content: space-between;
  }

  &--center {
    --justify-content: center;
  }

  &--top {
    align-items: start;
  }

  &--bottom {
    align-items: flex-end;
  }
}

.navigation {
  --height: 80px;

  transition: 300ms ease;
  height: var(--height);

  &--scroll {
    --height: 60px;
  }
}

// Menú de navegación:
.menu {
  --height: 100%;
  --width: 170px;
  --text-align: center;

  list-style: none;
  padding: 0;
  display: var(--display);
  height: var(--height);
  transition: 300ms ease;

  // Aplica a los elementos del menú:
  --display: flex;
  --background-color: #{rgba($color-secundario, 0.07)};

  &--inner {
    --inclinacion: 30px;
    --poligono: polygon(var(--inclinacion) 0%, 100% 0%, calc(100% - var(--inclinacion)) 100%, 0% 100%);

    overflow: hidden;
    background-color: $color-secundario-2;
    color: desaturate(darken($color-secundario-2, 60), 30);
    padding-left: var(--inclinacion);
    // padding-right: var(--inclinacion);

    clip-path: var(--poligono);
    opacity: 1;

    @media screen and (max-width: 1199px) {
      --display: none;
      opacity: 0;
    }
  }

  &--portada {
    @media screen and (max-width: 1199px) {
      --display: none;
      opacity: 0;
    }
  }

  &--vertical {
    --display: block;
    --background-color: transparent;
    --height: auto;
    --width: auto;
    --text-align: left;
    color: white;
  }

  &__item,
  &__enlace {
    transition: 300ms ease;
    color: inherit;
  }

  &__item {
    display: var(--display);
    padding: 0;
    margin: 0;
    max-width: var(--width);
    background-color: transparent;

    &:hover {
      background-color: var(--background-color);
    }

    &--inner {
      &:hover {
        background-color: lighten( $color-secundario-2, 2 );
      }
    }

    &--select {
      background-color: $color-secundario-3;

      &:hover {
        background-color: darken($color-secundario-3, 3 );
      }

      .menu__enlace--inner {
        color: white;

        &:hover {
          color: white;
        }
      }
    }
  }

  &__enlace {
    display: var(--display);
    flex-wrap: wrap;
    padding: 5px 10px;
    text-align: var(--text-align);
    height: 100%;
    outline: medium none;
    font-size: 0.9rem;

    &:hover {
      color: darken($color-secundario, 15);
    }

    &:focus {
      background-color: rgba($color-secundario, 0.1);
      color: darken($color-secundario, 20);
    }

    &--inner {
      $color: desaturate(darken($color-secundario-2, 60), 30);

      &:hover {
        color: lighten($color, 20);
      }
    }
  }

  &__icon {
    --diametro: 30px;
    width: 100%;
    text-align: center;

    svg {
      width: var(--diametro);
      height: var(--diametro);
      fill: white;
    }
  }
}

// Presentación o portadas:
.presentacion {
  position: relative;
  margin: 0 auto;

  --columnas: 2;
  --gap: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  grid-gap: var(--gap);
  gap: var(--gap);

  &__item {
    &--left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }
}

// Portada:
.portada {
  position: relative;

  &--home {
    min-height: calc(100vh - 110px);
  }
}

// Decoraciones:
.decoration {
  position: absolute;
  margin: auto;
  height: 100%;

  &--left {
    left: 0;
    right: auto;
    top: auto;
    bottom: 0;

    height: calc(100% - 30px);

    svg {
      width: auto;
      height: 100%;
      opacity: 0.4;
    }
  }
}

// Iconos en formato SVG:
.icon {
  position: relative;
  width: $width;
  max-width: 500px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  --gap: 20px;

  grid-gap: var(--gap);
  gap: var(--gap);

  &__item {
    display: flex;
    align-items: center;

    svg {
      width: 100%;
    }

    &--left {
      padding: 0 5px;
    }

    &--center {
      padding: 0 20px;
    }
  }
}

// Pie de página:
.footer {
  color: white;
  transition: 500ms ease;
  $color: darken($color-secundario-3, 10);
  --background-color: #{$color};

  @media screen and (min-width: 801px) {
    background-color: var(--background-color);
  }

  @media screen and (max-width: 800px) {
    background-color: rgba( $color, 0.7 );
  }
}

// Contenedor principal del pie de página
.f-inner {
  // Separación predeterminada:
  --gap: 0;

  margin: 0 auto;
  max-width: $max-width;

  display: grid;

  grid-template-columns: var(--columnas);
  min-height: 100px;

  grid-gap: var(--gap);
  gap: var(--gap);
  
  // A partir de 801px 4 columnas:
  @media screen and ( min-width: 801px) {
    --columnas: repeat(2, 1fr) 2fr 1fr;
  }

  // A partir de 501 hasta 800px 2 columnas:
  @media screen and ( min-width: 501px ) and ( max-width: 800px ) {
    --columnas: repeat(2, 1fr);
  }

  // Hasta 500 px 1 columna:
  @media screen and ( max-width: 500px ) {
    --columnas: 1fr;
  }

  @media screen and (max-width: 800px) {
    --gap: 1px;
  }


  &__item {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: auto;
      height: 100px;
    }
    
    transition: 300ms ease;

    @media screen and (max-width: 800px) {
      background-color: var(--background-color);
    }
  }

  &__enlace {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  &__nosotros {
    text-align: center;

    svg {
      width: var(--diametro);
      height: var(--diametro);
      fill: white;
    }

    &--icon {
      --diametro: 40px;
    }
  }
}

.redes-sociales {
  --diametro: 30px;
  --padding: 30px;

  display: flex;
  list-style-type: none;


  padding-top: var(--padding);

  &__item {
    display: flex;
    padding: 0;
  }

  &__enlace {
    padding: 0 3px;
  }

  svg {
    width: var(--diametro);
    height: var(--diametro);
    
    &:not(:hover) {
      fill: white;
    }

    &:hover {
      fill: rgba(white, 0.6);
    }
    
    &:active {
      fill: white;
      transition: none;
    }
  }

  &--compartir {
    padding-bottom: 10px;
    justify-content: flex-end;
    align-items: center;
    padding-top: var(--padding);

    margin: 0 auto;
    width: $width;
    max-width: $max-width;
  }
}

// Manipulación de archivos SVG:
.nosotros {
  --diametro: 100px;
  
  width: var(--diametro) !important;
  height: var(--diametro) !important;

  &--icon {
    --diametro: 50px;
    fill: white;

    transition: 300ms ease;

    &:hover {
      fill: pink !important;
    }
  }
}

// Vista provisional:
.relleno {
  --menu--height: 110px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
  height: calc(100vh - var(--menu--height));
  &--scroll {
    --menu--height: 90px;
  }
}

.directorio {
  position: relative;
  min-height: 200px;
  transition: 300ms ease;
  padding-top: var(--padding);
  padding-bottom: var(--padding);

  &::before {
    content: "";
  }

  &--recursos {
    --padding: 100px;

    background-image: url("../../../multimedia/fotos/foto-recursos.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    border-top: 4px solid $color-secundario-2;
    border-bottom: 4px solid $color-secundario-2;

    @media screen and (max-width: 830px) {
      --padding: 40px;
    }

    &::before {
      display: block;
      position: absolute;
      margin: auto;
      left: 0; right: 0;
      top: 0; bottom: 0;
      background-color: rgba(black, 0.5);

      z-index: 0;
    }
  }
}

.recursos {
  --gap: 30px;

  position: relative;
  margin: 0 auto;
  width: $width;
  max-width: 980px;
  display: grid;
  grid-gap: var(--gap);
  gap: var(--gap);
  // mix-blend-mode: hard-light;

  grid-template-columns: repeat( var(--columnas), 1fr );

  z-index: 1;

  @media screen and (min-width: 830px) {
    --columnas: 3;
  }

  @media screen and (min-width: 550px) and (max-width: 829px) {
    --columnas: 2;
  }

  @media screen and ( ma-width: 449px) {
    --columnas: 1;
  }



  &__icon {
    $opacity: 70;

    --diametro: 120px;
    --fondo: #{rgba($color-secundario, $opacity/100 )};

    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: calc(var(--diametro) * 2);
    width: calc(var(--diametro) * 1.9);
    background-color: var(--fondo);
    border-radius: 20px;
    
    svg {
      width: var(--diametro);
      height: var(--diametro);

      fill: white;
    }

    &--consejos {
      background-color: rgba($color-secundario-3, $opacity / 100);
    }

    &--recursos {
      background-color: rgba($color-secundario-4, $opacity / 100);
    }
  }

  &__caption {
    --diametro: 240px;

    margin: 0 auto;
    color: white;
    text-align: center;

    width: var(--diametro);
  }

  &__options {

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__enlace {
    --diametro: 40px;

    &:not(:first-of-type) {
      margin-left: 15px;
    }

    svg {
      width: var(--diametro);
      height: var(--diametro);
    }

    &:hover {
      path {
        transition: 300ms ease;
        fill: $color-secundario-3;
      }

      svg {
        opacity: 0.9;
      }
    }
  }
}

.banner {
  position: relative;
  height: var(--height);
  display: flex;
  align-items: center;

  &::before {
    content: "";
  }

  &::before {
    display: block;
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-color: rgba( $color-secundario-3, 0.7 );
    z-index: 1;

    overflow: hidden;
  }

  &--fuveicam {
    --height: 200px;
    border-bottom: 5px solid ($color-secundario-2);
  }

  &__img {
    display: block;
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
    height: 100%;
    width: 100%;

    --object-fit: cover;
    --object-position: center top;

    -webkit-object-fit: var(--object-fit);
    -webkit-object-position: var(--object-position);
    object-fit: var(--object-fit);
    object-position: var(--object-position);

    z-index: 0;
  }

  &__teta {
    position: absolute;
    margin: auto;
    left: auto; right: 0;
    top: 0; bottom: 0;

    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    svg {
      height: 100%;
    }
  }

  &__title {
    position: relative;
    color: white;
    padding-left: 40px;

    h2 {
      font-size: 2rem;
    }

    z-index: 2;
  }
}

// Compartir en las redes sociales:
.compartir {
  --diametro: 40px;

  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;

  &__item {
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
  }

  &__enlace {
    --padding: 5px;
    display: flex;
    align-items: center;
    padding-left: var(--padding);
    padding-right: var(--padding);
    transition: 300ms ease;

    path {
      transition: 300ms ease;
      height: var(--diametro);
      width: var(--diametro);
      fill: darken($color-secundario-2, 20);
    }

    &--twitter:hover {
      path {
        fill: $color-twitter;
      }
    }

    &--facebook:hover {
      path {
        fill: $color-facebook;
      }
    }
  }

}

// Contenedores en todos los módulos:
.modulo {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
  width: $width;
  max-width: $max-width;
  background-color: white;


  &__item {
    flex-shrink: 12;
    padding: 10px;

    &--sidebar {
      flex-grow: 3;


      @media screen and (max-width: 700px) {
        display: none;
      }

      position: relative;
      max-width: 400px;
      padding: 20px;
    
      img {
        width: 100%;
      }
    }

    &--content {
      flex-grow: 9;

      @media screen and (min-width: 701px) {
        max-width: 65%;
      }
    }
  }
}

// Barra de navegación para navegar entre páginas:
.navegar {
  margin: 0 auto;
  width: $width;
  max-width: $max-width;

  display: flex;
  justify-content: center;
  align-items: center;

  --padding: 13px;

  padding: var(--padding) 0 var(--padding) 0;

  &__enlace {
    --diametro: 40px;
    --padding: 20px;

    display: flex;
    align-items: center;
    padding-left: var(--padding);
    padding-right: var(--padding);
    color: darken($color-secundario-2, 20);
    transition: 300ms ease;

    span {
      padding: 5px;
    }

    svg {
      display: block;
      width: var(--diametro);
      height: var(--diametro);
    }

    path {
      fill: $color-secundario-2;
      transition: 300ms ease;
    }

    &:hover {
      $color: darken($color-secundario-3, 20);
      color: $color;

      path {
        fill: $color;
      }
    }
  }
}

.sidebar {
  position: relative;

  &__item {
    margin: 20px auto;

    &--uicc {
      max-width: 80%;
    }

    &--descarga {
      max-width: 250px;
    }
  }

  &__img {
    background-color: $color-secundario-2;
    padding-top: 4px;
    padding-bottom: 15px;
  }
}

.lista {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    padding-left: 0;
    margin: 0;
    position: relative;

    &--right {
      text-align: right;
    }
  }
}

// Infografía:
.infografia {
  --columnas: 3;
  --gap: 0;
  --color: black;
  --relleno: 30px;

  display: grid;
  grid-template-columns: repeat(var(--columnas), 1fr);
  grid-gap: var(--gap);
  gap: var(--gap);

  background-color: white;
  padding-top: calc(var(--relleno) * 2);
  padding-bottom: calc(var(--relleno) * 2);
  padding-left: var(--relleno);
  padding-right: var(--relleno);

  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba($color-secundario-3, 0.2);
  cursor: default;

  width: $width;
  max-width: $max-width;
  margin: 0 auto;
  

  // Cantidad de columnas en función del espacio disponible:
  @media screen and (min-width: 781px) {
    --columnas: 3;
  }

  @media screen and (max-width: 780px) {
    --columnas: 2;
  }

  &__item {
    --size: 40px;

    display: flex;
    text-align: justify;
    transition: 300ms ease;

    line-height: 1.3;

    font: {
      size: 0.9rem;
    }

    &:hover {
      --color: #{$color-secundario-3};
    }

    &:active {
      transform-origin: center bottom;
      transform: rotateX( 10deg );
      transition: none;
    }

    // Organización de los elementos de la infografía:
    &--2 {
      grid-column: 1;
      grid-row: 2;
    }

    &--3 {
      grid-column: 1;
      grid-row: 3;
    }

    &--4 {
      grid-column: 1;
      grid-row: 4;
    }

    &--5 {
      grid-column: 2;
      grid-row: 1 / span 2;
    }

    &--6 {
      grid-column: 2;
      grid-row: 3;
    }

    &--7 {
      grid-column: 2;
      grid-row: 4;
    }

    &--8 {
      grid-column: 3;
      grid-row: 1 / span 2;
    }

    &--9 {
      grid-column: 3;
      grid-row: 3;
    }

    &--10 {
      grid-column: 3;
      grid-row: 4;
    }


    // Línea inferior delimitadora de la infografía:
    min-height: calc(var(--size) * 0.05);

    &--11,
    &--12,
    &--13 {
      position: relative;

      &::before,
      &::after {
        content: "";
  
        display: block;
        position: absolute;
        margin: auto;
        right: auto;
        top: 0; bottom: 0;
        z-index: 1;
      }

      &::before {
        width: calc(var(--size) / 2 - var(--size) * 0.127272727);
      }

      &::after {
        left: calc(var(--size) / 2 - var(--size) * 0.127272727);
        right: 0;
      }
    }

    &--11 {
      &::after {
        background-color: $infografia-4;
      }
    }

    &--12 {
      &::before {
        background-color: $infografia-4;
      }

      &::after {
        background-color: $infografia-7;
      }
    }

    &--13 {
      &::before {
        background-color: $infografia-7;
      }

      &::after {
        background-color: $infografia-10;
      }
    }

    @media screen and (max-width: 780px) {
      
    }
  }
  
  &__left {
    position: relative;
    width: var(--size);

    svg {
      width: var(--size);
      height: auto;
    }

    path {
      fill: var(--color);
      transition: 300ms ease;
    }

    &::before {
      content: "";

      display: block;
      position: absolute;
      margin: auto;
      left: calc(var(--size) / 2 - var(--size) * 0.127272727);
      top: calc(var(--size) * 0.7272727273); bottom: 0;
      width: calc(var(--size) * 0.05);
      background-color: var(--color);
      transition: 300ms ease;
    }
  }

  &__right {
    --padding: 20px;

    padding-left: 20px;
    padding-bottom: var(--padding);
    padding-right: var(--padding);
  }
}

// Tabla de glosario de términos:
.glosario {
  overflow: auto;
  padding-bottom: 20px;

  &__tabla {
    width: 100%;
    border-collapse: collapse;

    th, td {
      &:first-of-type {
        width: 34%;
      }
    }

    th {
      height: 50px;
      border: 1px solid white;
      font-weight: normal;

      &:first-of-type {
        background-color: $color-secundario-4;
        color: white;
      }

      &:last-of-type {
        background-color: $color-secundario-2;
        color: darken($color-secundario-2, 60);
      }
    }

    td {
      border: 1px solid white;
      min-height: 40px;
      padding: 10px;
      transition: 300ms ease;

      &:first-of-type {
        background-color: rgba( $color-secundario-4, 0.05 );
        color: darken($color-secundario-4, 20); 
      }
    }

    tbody {

      tr{
        transition: 300ms ease;

        &:nth-of-type(even) {
          background-color: rgba($color-base, 0.03);
        }
        
        &:hover {
          background-color: rgba($color-secundario-3, 0.05);

          td:last-of-type {
            color: rgba(darken($color-secundario-3, 26), 0.8);
          }
        }
      }
    }
  }
}

.estadificacion {
  background-color: rgba($color-secundario-4, 0.5);
  padding: 40px 10px;

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: var(--width);
    padding: 10px;
    background-color: white;

    &--mediana {
      --width: 500px;
    }
  }
}

.t-etapas {
  --radius: 20px;
  --gap: 5px;

  display: grid;
  grid-template-columns: repeat(var(--columnas), 1fr);
  
  grid-gap: var(--gap);
  gap: var(--gap);

  @media screen and (min-width: 1101px) {
    --columnas: 3;
  }

  @media screen and (min-width: 800px) and (max-width: 1100px) {
    --columnas: 2;
  }

  @media screen and (max-width: 799px) {
    --columnas: 1;
    --radius: 0;
  }

  &__item {
    border: 1px solid white;
  }

  &__header,
  &__content {
    padding: 10px;
    transition: 300ms ease;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: var(--gap);

    border-radius: var(--radius) var(--radius) 0 0;

    span {
      &:first-of-type {
        font: {
          weight: bold;
          size: 2.3rem;
        }
      }

      &:last-of-type {
        font: {
          size: 1.5rem;
        }

        text-transform: uppercase;
      }
    }
  }

  &__content {
    border-radius: 0 0 var(--radius) var(--radius);
    padding: 10px 15px;

    ul {
      list-style-type: none;
      padding: 0;
      margin-left: 0;

      &.lista-anidada {
        padding-left: 15px;
      }
    }

    li {
      padding: 0;
      line-height: 1.3;
      font-size: 0.95rem;
    }

    ul li {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      &:first-of-type {
        margin-top: 10px;
      }
    }
  }

  &__color {
    color: var(--color);

    &--1 {
      background-color: rgba( darken($color-secundario-3, 4), 1 );
      color: darken($color-secundario-3, 20);
      color: white;
    }
    
    &--2 {
      background-color: rgba( $color-secundario-2, 0.6 );
      color: darken($color-secundario-2, 45);
      // color: white;
    }
    
    &--3 {
      background-color: rgba( darken($color-secundario-4, 12), 1);
      color: darken($color-secundario-4, 20);
      color: white;
    }
  }
}

// Subtipos: ubicado en la página de subtipos de herramientas:
.subtipos {
  transition: 300ms ease;
  background-color: rgba($color-secundario-4, 0.5);

  @media screen and (max-width: 799px) {
    padding: 50px 10px;
  }

  @media screen and (min-width: 800px) {
    padding: 50px;
  }
}

// Recuento de las plaquetas | Diagrama:
.plaquetas {
  background-color: rgba( $color-secundario-4, 0.5);
  min-height: 100px;
  padding: 10px;
  font-size: 0.7rem;
  transition: 300ms ease;

  &:hover {
    background-color: rgba( $color-secundario-4, 0.2);
  }

  --ratio: 10px;

  grid-template-columns: repeat(2, 1fr);
  --gap: 10px;

  grid-gap: var(--gap);
  gap: var(--gap);
  display: grid;

  hr {
    border: 0;
    border-bottom: 2px solid white;
  }

  &__item {
    --fondo: white;
    --color: #{$color-base};
    --border-color: white;

    min-height: 50px;
    background-color: var(--fondo);
    color: var(--color);
    overflow: hidden;
    border-radius: var(--ratio);
    border: 1px solid var(--border-color);

    &--plateado {
      --fondo: #{darken(white, 10)};
    }

    &--header {
      grid-column: 1/3;
      grid-row: 1;

      --border-color: #bb5996;
    }

    &--footer {
      grid-column: 1 / 3;
      grid-row: 3;

      --border-color: #bb5996;
    }

    &--left {
      grid-column: 1;
      grid-row: 2;

      --border-color: #{$color-secundario-3};
    }

    &--right {
      grid-column: 2;
      grid-row: 2;

      --border-color: #{$color-secundario-4};
    }
  }

  &__header {
    --color: white;
    --fondo: #{rgba(black, 0.1)};
    --height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: var(--height);
    padding: 0 10px;
    background-color: var(--fondo);
    color: var(--color);
    line-height: 1.2;
    border-radius: 0 0 var(--ratio) var(--ratio);

    font: {
      weight: bold;
    }

    &--morado {
      --fondo: #bb5996;
      --height: 30px;
    }

    &--turquesa {
      --fondo: #{$color-secundario-3};
    }

    &--verde {
      --fondo: #{$color-secundario-4};
    }
  }

  &__content {
    --fondo: white;
    --color: #{$color-base};

    font: {
      size: 0.93em;
    }

    color: var(--color);

    padding: 10px;

    ul {
      margin: 0;
      padding: 0;
      padding-left: 10px;

      li {
        margin-bottom: 3px;
        padding: 0;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;

    svg {
      width: 30px;
    }
  }

  &__thumbnail-svg {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    svg {
      max-width: 150px;
      width: 100%;
    }
  }
}

// Iconos SVG:
.svg {
  width: var(--diametro);
  height: var(--diametro);

  &--icon {
    --diametro: 50px;
  }
}

.imagen {
  background-color: var(--fondo);
  padding: 15px;

  img, svg {
    background-color: white;
  }

  img {
    padding: 10px;
  }

  &--verde {
    --fondo: #{rgba($color-secundario-4, 0.7)};
  }

  &--indicador {
    height: 250px;
    position: relative;
    background-color: darken(white, 5);
    
    &::before {
      content: "Aquí va una imagen";
      display: block;
      position: absolute;
      margin: auto;
      left: 0; right: 0;
      top: 0; bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-secundario-4;
      background-color: darken(white, 10);

      font: {
        variant: small-caps;
        size: 2rem;
      }

      // Apariencia:
      $separacion: 10%;

      clip-path: polygon($separacion 0%, 100% 0, 100% - $separacion 100%, 0% 100%);
    }
  }

  &--mediana {
    margin: 10px auto;
    text-align: center;
    max-width: 400px;
  }
}

// Contenidos adicionales:
.adicionales {
  --padding: 40px;
  --fondo: #{darken(white, 4)};
  --color: #{$color-base};
  --border-color: #{rgba($color-secundario-3, 0.6)};

  padding: var(--padding);
  background-color: var(--fondo);
  color: var(--color);
  width: 100%;

  &:first-of-type {
    border-top: 1px solid rgba($color-secundario-3, 0.3);
  }

  &:not(:first-of-type) {
    margin-top: 20px;
  }

  // Colores:
  &--verde {
    --fondo: #{rgba($color-secundario-4, 0.15)};
    --color: #{darken($color-secundario-4, 20)};
    --border-color: #{rgba($color-secundario-4, 0.7)};
  }
}

.enlaces-externos {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
  }
}

// Tarjetas de enlaces:
.bibliograficas {
  --columnas: 6;
  display: grid;
  grid-template-columns: repeat(var(--columnas), 1fr);
  gap: 10px;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  &__item {
    background-color: darken(white, 2);
    border: 1px solid rgba($color-base, 0.2);
    border-radius: 4px;
    transition: 300ms;
    overflow: hidden;
    outline: medium none;

    &:hover,
    &:focus {
      background-color: white;
      box-shadow: 0 0 20px rgba($color-secundario-3, 0.2);
      border: 1px solid $color-secundario-3;
    }
    
    &:active {
      box-shadow: 0 0 20px rgba($color-secundario-4, 0.2);
      border: 1px solid $color-secundario-4;
      transition: none;
    }
  }

  &__imagen {
    background-color: darken(white, 60);
    position: relative;
    background-color: darken(white, 5);
    padding-top: 42%;

    img {
      display: block;
      position: absolute;
      margin: auto;
      left: 0; right: 0;
      top: 0; bottom: 0;
      
      --diametro: 100%;

      width: var(--diametro);
      height: var(--diametro);
      object-fit: scale-down;
      object-position: center;
    }
  }

  &__caption {
    padding: 10px 10px;
    font-size: 0.85rem;
    line-height: 1.3;

    h6 {
      font-size: inherit;
    }
  }
}