.header {
  background-color: var(--fondo);
  
  font: {
    size: 0.9rem;
  }

  &--fondo {
    --fondo: white;
  }
}

.content {
  margin: 0 auto;
  width: $width;
  max-width: $max-width;

}

// .border {
//   @include border-bottom( 5, 5 );
// }

.border {
  // Establecer los valores del border predeterminado:
  --border-width: 1px;
  --border-color: #{rgba( $color-secundario, 0.75 )};

  // Ancho de borde predeterminado:
  &:not([class*="border--"]) {
    --border-left: var(--border-width);
    --border-right: var(--border-width);
    --border-top: var(--border-width);
    --border-bottom: var(--border-width);
  }

  border-left: var(--border-left) solid var(--border-color);
  border-right: var(--border-right) solid var(--border-color);
  border-top: var(--border-top) solid var(--border-color);
  border-bottom: var(--border-bottom) solid var(--border-color);

  &--home {
    --border-top: 25px;
    --border-bottom: 5px;
  }
}

// Logotipo
.logotipo {
  width: 100%;
  max-width: var(--width);

  &--header {
    --width: 300px;
  }

  &--presentacion {
    --width: 80%;
    margin-bottom: 60px;
  }
}

// Cajas flexibles:
.flex {
  display: flex;
  justify-content: var(--justify-content);
  align-items: center;

  // Separación de contenido con una longitud
  // de 20px de ancho:
  --gap: 20px;

  &__item {
    &:not(:first-of-type) {
      padding-left: calc(var(--gap) / 2);
    }

    &:not(:last-of-type) {
      padding-right: calc(var(--gap) / 2);
    }
  }

  &--between {
    --justify-content: space-between;
  }

  &--center {
    --justify-content: center;
  }
}

.navigation {
  height: 80px;
}

// Menú de navegación:
.menu {
  list-style: none;
  padding: 0;
  display: var(--display);
  height: 100%;
  // background-color: rgba($color-secundario-3, 0.1 );

  // Aplica a los elementos del menú:
  --display: flex;

  &__item,
  &__enlace {
    transition: 300ms ease;
  }

  &__item {
    display: var(--display);
    padding: 0;
    margin: 0;
    max-width: 170px;
    background-color: transparent;

    &:hover {
      background-color: rgba( $color-secundario, 0.07 );
    }
  }

  &__enlace {
    display: var(--display);
    padding: 5px 10px;
    text-align: center;
    height: 100%;
    outline: medium none;

    &:hover {
      color: darken($color-secundario, 15);
    }

    &:focus {
      background-color: rgba($color-secundario, 0.1 );
      color: darken($color-secundario, 20 );
    }
  }
}

// Presentación o portadas:
.presentacion {
  position: relative;
  margin: 0 auto;

  --columnas: 2;
  --gap: 10px;

  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));

  grid-gap: var(--gap);
  gap: var(--gap);

  &__item {

    &--left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }
}

// Portada:
.portada {
  position: relative;
  
  &--home {
    min-height: calc(100vh - 110px);
  }
}

// Decoraciones:
.decoration {
  position: absolute;
  margin: auto;
  height: 100%;

  &--left {
    left: 0; right: auto;
    top: auto; bottom: 0;

    height: calc(100% - 30px);
    
    svg {
      width: auto;
      height: 100%;
    }
  }
}

// Iconos en formato SVG:
.icon {
  position: relative;
  width: $width;
  max-width: 500px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  --gap: 20px;

  grid-gap: var(--gap);
  gap: var(--gap);
  
  &__item {
    display: flex;
    align-items: center;

    svg {
      width: 100%;
    }

    &--left {
      padding: 0 5px;
    }

    &--center {
      padding: 0 20px;
    }
  }
}