.header {
  position: fixed;
  margin: auto;
  left: 0; right: 0;
  top: 0; bottom: auto;
  background-color: var(--fondo);

  z-index: 100;

  font: {
    size: 0.9rem;
  }

  &--fondo {
    --fondo: white;
  }
}

.content {
  margin: 0 auto;
  margin-top: 110px;
}

// .border {
//   @include border-bottom( 5, 5 );
// }

.border {
  // Establecer los valores del border predeterminado:
  --border-width: 1px;
  --border-color: #{rgba($color-secundario, 0.75)};

  // Ancho de borde predeterminado:
  &:not([class*="border--"]) {
    --border-left: var(--border-width);
    --border-right: var(--border-width);
    --border-top: var(--border-width);
    --border-bottom: var(--border-width);
  }

  border-left: var(--border-left) solid var(--border-color);
  border-right: var(--border-right) solid var(--border-color);
  border-top: var(--border-top) solid var(--border-color);
  border-bottom: var(--border-bottom) solid var(--border-color);

  &--home {
    --border-top: 25px;
    --border-bottom: 5px;
  }
}

// Logotipo
.logotipo {
  width: 100%;
  max-width: var(--width);
  transition: 300ms ease;

  &--header {
    --width: 300px;
  }

  &--scroll {
    --width: 250px;
  }

  &--presentacion {
    --width: 80%;
    margin-bottom: 60px;
  }
}

// Cajas flexibles:
.flex {
  display: flex;
  justify-content: var(--justify-content);
  align-items: center;

  // Separación de contenido con una longitud
  // de 20px de ancho:
  --gap: 20px;

  &__item {
    &:not(:first-of-type) {
      padding-left: calc(var(--gap) / 2);
    }

    &:not(:last-of-type) {
      padding-right: calc(var(--gap) / 2);
    }
  }

  &--between {
    --justify-content: space-between;
  }

  &--center {
    --justify-content: center;
  }
}

.navigation {
  --height: 80px;

  transition: 300ms ease;
  height: var(--height);

  &--scroll {
    --height: 60px;
  }
}

// Menú de navegación:
.menu {
  --height: 100%;
  --width: 170px;
  --text-align: center;

  list-style: none;
  padding: 0;
  display: var(--display);
  height: var(--height);

  // Aplica a los elementos del menú:
  --display: flex;
  --background-color: #{rgba($color-secundario, 0.07)};

  &--inner {
    --inclinacion: 30px;

    overflow: hidden;
    background-color: $color-secundario-3;
    color: white;
    padding-left: var(--inclinacion);
    padding-right: var(--inclinacion);

    clip-path: polygon(var(--inclinacion) 0%, 100% 0%, calc(100% - var(--inclinacion)) 100%, 0% 100%);
  }

  &--vertical {
    --display: block;
    --background-color: transparent;
    --height: auto;
    --width: auto;
    --text-align: left;
    color: white;
  }

  &__item,
  &__enlace {
    transition: 300ms ease;
    color: inherit;
  }

  &__item {
    display: var(--display);
    padding: 0;
    margin: 0;
    max-width: var(--width);
    background-color: transparent;

    &:hover {
      background-color: var(--background-color);
    }
  }

  &__enlace {
    display: var(--display);
    padding: 5px 10px;
    text-align: var(--text-align);
    height: 100%;
    outline: medium none;

    &:hover {
      color: darken($color-secundario, 15);
    }

    &:focus {
      background-color: rgba($color-secundario, 0.1);
      color: darken($color-secundario, 20);
    }
  }
}

// Presentación o portadas:
.presentacion {
  position: relative;
  margin: 0 auto;

  --columnas: 2;
  --gap: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  grid-gap: var(--gap);
  gap: var(--gap);

  &__item {
    &--left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }
}

// Portada:
.portada {
  position: relative;

  &--home {
    min-height: calc(100vh - 110px);
  }
}

// Decoraciones:
.decoration {
  position: absolute;
  margin: auto;
  height: 100%;

  &--left {
    left: 0;
    right: auto;
    top: auto;
    bottom: 0;

    height: calc(100% - 30px);

    svg {
      width: auto;
      height: 100%;
      opacity: 0.4;
    }
  }
}

// Iconos en formato SVG:
.icon {
  position: relative;
  width: $width;
  max-width: 500px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  --gap: 20px;

  grid-gap: var(--gap);
  gap: var(--gap);

  &__item {
    display: flex;
    align-items: center;

    svg {
      width: 100%;
    }

    &--left {
      padding: 0 5px;
    }

    &--center {
      padding: 0 20px;
    }
  }
}

// Pie de página:
.footer {
  color: white;
  transition: 500ms ease;
  $color: darken($color-secundario-3, 10);
  --background-color: #{$color};

  @media screen and (min-width: 801px) {
    background-color: var(--background-color);
  }

  @media screen and (max-width: 800px) {
    background-color: rgba( $color, 0.7 );
  }
}

// Contenedor principal del pie de página
.f-inner {
  // Separación predeterminada:
  --gap: 0;

  margin: 0 auto;
  max-width: $max-width;

  display: grid;

  grid-template-columns: var(--columnas);
  min-height: 100px;

  grid-gap: var(--gap);
  gap: var(--gap);
  
  // A partir de 801px 4 columnas:
  @media screen and ( min-width: 801px) {
    --columnas: repeat(2, 1fr) 2fr 1fr;
  }

  // A partir de 501 hasta 800px 2 columnas:
  @media screen and ( min-width: 501px ) and ( max-width: 800px ) {
    --columnas: repeat(2, 1fr);
  }

  // Hasta 500 px 1 columna:
  @media screen and ( max-width: 500px ) {
    --columnas: 1fr;
  }

  @media screen and (max-width: 800px) {
    --gap: 1px;
  }


  &__item {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: auto;
      height: 100px;
    }
    
    transition: 300ms ease;

    @media screen and (max-width: 800px) {
      background-color: var(--background-color);
    }
  }

  &__enlace {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  &__nosotros {
    text-align: center;

    svg {
      width: var(--diametro);
      height: var(--diametro);
      fill: white;
    }

    &--icon {
      --diametro: 40px;
    }
  }
}

.redes-sociales {
  --diametro: 30px;

  display: flex;
  list-style-type: none;
  padding: 0;

  &__item {
    display: flex;
    padding: 0;
  }

  &__enlace {
    padding: 0 3px;
  }

  svg {
    width: var(--diametro);
    height: var(--diametro);
    
    &:not(:hover) {
      fill: white;
    }

    &:hover {
      fill: rgba(white, 0.6);
    }
    
    &:active {
      fill: white;
      transition: none;
    }
  }
}

// Manipulación de archivos SVG:
.nosotros {
  --diametro: 100px;
  
  width: var(--diametro) !important;
  height: var(--diametro) !important;

  &--icon {
    --diametro: 50px;
    fill: white;

    transition: 300ms ease;

    &:hover {
      fill: pink !important;
    }
  }
}

// Vista provisional:
.relleno {
  --menu--height: 110px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
  height: calc(100vh - var(--menu--height));
  &--scroll {
    --menu--height: 90px;
  }
}