// Esto es opcional, si no se define quederá el color 
// predeterminado en la página:
$color-base: #4d4d4d;
$color-secundario: #f97ca9;
$color-secundario-2: #fcbdd4;
$color-secundario-3: #00b7b7;
$color-secundario-4: #60c160;
$color-morado: #bb5996;

// Colores de las redes sociales:
$color-whatsapp: #00e676;
$color-facebook: #1877f2;
$color-twitter: #1da1f2;
$color-youtube: #ff0000;
$color-pinterest: #cb2027;
$color-linkedin: #0b66c3;
$color-skype: #00aff0;


// Colores de la infografía:
$infografia-1: #4B5C70;
$infografia-2: #70999E;
$infografia-3: #866472;
$infografia-4: #CE6C70;
$infografia-5: $infografia-2;
$infografia-6: $infografia-4;
$infografia-7: $infografia-3;
$infografia-8: $infografia-1;
$infografia-9: $infografia-4;
$infografia-10: $infografia-3;