Herramientas
*/*.md
.sass-cache
.vscode
*.sql
upload
uploads
.well-known
cgi-bin

# Base de datos:
config.php
*/**config.php

# Ignorado temporalmente:
sitemap.xml

# Variables de entorno:
.env
*/*.env
**/*.env

# Este archivo se debe generar desde el servidor:
*.encuesta.json
**/*.json
