@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
::-moz-focus-inner {
  border: 0;
}

:root {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  color: #606060;
  background-color: #f3f3f3;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}
a:not([class]):hover {
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.width {
  width: calc(100% - 20px);
}

.max--width {
  width: 1200px;
}

.min--height {
  min-height: 100vh;
}

hr {
  margin: 20px auto 30px;
  border: 0;
  border-bottom: 1px solid #9a9a9a;
}

pre, code {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: gainsboro;
  color: #4d4d4d;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  overflow: auto;
  font-variant: normal;
}

.viewport--width {
  min-width: 100%;
}
.viewport--height {
  min-height: 100vh;
}

.text--small {
  font-size: 0.8em;
}
.text--big {
  font-size: 1.2em;
}
.text--variant {
  font-variant: small-caps;
}
.text--justify {
  text-align: justify;
}
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.text--margin-none {
  margin: 0;
}

.default, .predeterminado {
  width: calc(calc(100% - 20px) - 10px);
  max-width: 1200px;
}
.default:not(hr), .predeterminado:not(hr) {
  margin: 0 auto;
}

.line--default, .line--predeterminado {
  margin: 20px auto;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid;
  height: 0;
}

.copyright {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.developer {
  position: relative;
  min-height: 30px;
}
.developer--link {
  text-decoration: none;
  color: #a1daff;
  outline: medium none;
}
.developer--link:hover {
  text-decoration: underline;
}

svg {
  max-height: 100%;
  transition: 300ms ease;
}

.frontal {
  transition: 300ms ease;
}
.frontal--base, .frontal--base-hover:hover {
  color: #4d4d4d;
}
.frontal--secundario, .frontal--secundario-hover:hover {
  color: #f97ca9;
}
.frontal--whatsapp, .frontal--whatsapp-hover:hover {
  color: #00e676;
}
.frontal--facebook, .frontal--facebook-hover:hover {
  color: #1877f2;
}
.frontal--twitter, .frontal--twitter-hover:hover {
  color: #1da1f2;
}
.frontal--youtube, .frontal--youtube-hover:hover {
  color: #ff0000;
}
.frontal--pinterest, .frontal--pinterest-hover:hover {
  color: #cb2027;
}
.frontal--linkedin, .frontal--linkedin-hover:hover {
  color: #0b66c3;
}
.frontal--skype, .frontal--skype-hover:hover {
  color: #00aff0;
}

.fondo {
  transition: 300ms ease;
}
.fondo--svg {
  fill: var(--background-color);
}
.fondo--html {
  background-color: var(--background-color);
}
.fondo--base, .fondo--base-hover:hover {
  --background-color: #4d4d4d;
}
.fondo--secundario, .fondo--secundario-hover:hover {
  --background-color: #f97ca9;
}
.fondo--whatsapp, .fondo--whatsapp-hover:hover {
  --background-color: #00e676;
}
.fondo--facebook, .fondo--facebook-hover:hover {
  --background-color: #1877f2;
}
.fondo--twitter, .fondo--twitter-hover:hover {
  --background-color: #1da1f2;
}
.fondo--youtube, .fondo--youtube-hover:hover {
  --background-color: #ff0000;
}
.fondo--pinterest, .fondo--pinterest-hover:hover {
  --background-color: #cb2027;
}
.fondo--linkedin, .fondo--linkedin-hover:hover {
  --background-color: #0b66c3;
}
.fondo--skype, .fondo--skype-hover:hover {
  --background-color: #00aff0;
}

.header {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  background-color: var(--fondo);
  z-index: 100;
  font-size: 0.9rem;
}
.header--fondo {
  --fondo: white;
}

.content {
  margin: 0 auto;
  margin-top: 110px;
}

.border {
  --border-width: 1px;
  --border-color: rgba(249, 124, 169, 0.75);
  border-left: var(--border-left) solid var(--border-color);
  border-right: var(--border-right) solid var(--border-color);
  border-top: var(--border-top) solid var(--border-color);
  border-bottom: var(--border-bottom) solid var(--border-color);
}
.border:not([class*="border--"]) {
  --border-left: var(--border-width);
  --border-right: var(--border-width);
  --border-top: var(--border-width);
  --border-bottom: var(--border-width);
}
.border--home {
  --border-top: 25px;
  --border-bottom: 5px;
}

.logotipo {
  width: 100%;
  max-width: var(--width);
}
.logotipo--header {
  --width: 300px;
}
.logotipo--presentacion {
  --width: 80%;
  margin-bottom: 60px;
}

.flex {
  display: flex;
  justify-content: var(--justify-content);
  align-items: center;
  --gap: 20px;
}
.flex__item:not(:first-of-type) {
  padding-left: calc(var(--gap) / 2);
}
.flex__item:not(:last-of-type) {
  padding-right: calc(var(--gap) / 2);
}
.flex--between {
  --justify-content: space-between;
}
.flex--center {
  --justify-content: center;
}

.navigation {
  height: 80px;
}

.menu {
  --height: 100%;
  --width: 170px;
  --text-align: center;
  list-style: none;
  padding: 0;
  display: var(--display);
  height: var(--height);
  --display: flex;
  --background-color: rgba(#f97ca9, 0.07);
}
.menu--vertical {
  --display: block;
  --background-color: transparent;
  --height: auto;
  --width: auto;
  --text-align: left;
  color: white;
}
.menu__item, .menu__enlace {
  transition: 300ms ease;
  color: inherit;
}
.menu__item {
  display: var(--display);
  padding: 0;
  margin: 0;
  max-width: var(--width);
  background-color: transparent;
}
.menu__item:hover {
  background-color: var(--background-color);
}
.menu__enlace {
  display: var(--display);
  padding: 5px 10px;
  text-align: var(--text-align);
  height: 100%;
  outline: medium none;
}
.menu__enlace:hover {
  color: #f63379;
}
.menu__enlace:focus {
  background-color: rgba(249, 124, 169, 0.1);
  color: #f51a69;
}

.presentacion {
  position: relative;
  margin: 0 auto;
  --columnas: 2;
  --gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: var(--gap);
  gap: var(--gap);
}
.presentacion__item--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.portada {
  position: relative;
}
.portada--home {
  min-height: calc(100vh - 110px);
}

.decoration {
  position: absolute;
  margin: auto;
  height: 100%;
}
.decoration--left {
  left: 0;
  right: auto;
  top: auto;
  bottom: 0;
  height: calc(100% - 30px);
}
.decoration--left svg {
  width: auto;
  height: 100%;
}

.icon {
  position: relative;
  width: calc(100% - 20px);
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  --gap: 20px;
  grid-gap: var(--gap);
  gap: var(--gap);
}
.icon__item {
  display: flex;
  align-items: center;
}
.icon__item svg {
  width: 100%;
}
.icon__item--left {
  padding: 0 5px;
}
.icon__item--center {
  padding: 0 20px;
}

.footer {
  background-color: #008484;
  color: white;
}

.f-inner {
  margin: 0 auto;
  width: calc(100% - 20px);
  max-width: 1200px;
  display: grid;
  grid-template-columns: var(--columnas);
  min-height: 100px;
}
@media screen and (min-width: 801px) {
  .f-inner {
    --columnas: repeat(2, 1fr) 2fr 1fr;
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  .f-inner {
    --columnas: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .f-inner {
    --columnas: 1fr;
  }
}
.f-inner__item {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-inner__item svg {
  width: auto;
  height: 100px;
}
.f-inner__enlace {
  color: white;
}
.f-inner__enlace:hover {
  text-decoration: underline;
}
.f-inner__nosotros {
  text-align: center;
}
.f-inner__nosotros svg {
  width: var(--diametro);
  height: var(--diametro);
  fill: white;
}
.f-inner__nosotros--icon {
  --diametro: 40px;
}

.redes-sociales {
  --diametro: 30px;
  display: flex;
  list-style-type: none;
  padding: 0;
}
.redes-sociales__item {
  display: flex;
  padding: 0;
}
.redes-sociales__enlace {
  padding: 0 3px;
}
.redes-sociales svg {
  width: var(--diametro);
  height: var(--diametro);
}
.redes-sociales svg:not(:hover) {
  fill: white;
}
.redes-sociales svg:hover {
  fill: rgba(255, 255, 255, 0.6);
}
.redes-sociales svg:active {
  fill: white;
  transition: none;
}

.nosotros {
  --diametro: 100px;
  width: var(--diametro) !important;
  height: var(--diametro) !important;
}
.nosotros--icon {
  --diametro: 50px;
  fill: white;
  transition: 300ms ease;
}
.nosotros--icon:hover {
  fill: pink !important;
}

[type="search"],
[type="text"],
[type="tel"],
[type="password"] {
  outline: medium none;
}

.buscador {
  display: flex;
  justify-content: flex-end;
}

.label {
  display: var(--display);
  position: relative;
  height: var(--height);
}
.label--buscar {
  --display: block;
  --height: 30px;
  --width: 150px;
}

.input {
  display: var(--display);
  position: var(--position);
}
.input--buscar {
  --position: relative;
  margin: auto;
  border: 2px solid #f97ca9;
  width: var(--width);
  height: 100%;
  border-radius: calc(var(--height) / 2 );
  padding-left: calc(var(--height) / 2);
  padding-right: calc(var(--height) / 1.1 );
  transition: 300ms ease;
  color: #f51a69;
}
.input--buscar:focus {
  width: 180px;
}

.button {
  background-image: none;
  background-color: var(--background-color);
  outline: medium none;
  border: 0;
}
.button--buscar {
  display: --display;
  position: absolute;
  height: var(--height);
  width: var(--height);
  border-radius: calc(var(--height) / 2 );
  left: auto;
  right: 5px;
  top: 0;
  bottom: 0;
}
.button--buscar svg {
  height: calc(var(--height) / 1.7 );
}

/*# sourceMappingURL=style.css.map */
